pyspark==3.5.1
delta-spark==3.1.0
pandas==2.2.2 
mlflow==2.14.3
fastapi==0.111.1
notebook==7.2.1
numpy==1.23.2
scikit-learn==1.5.1
evidently==0.4.32
matplotlib==3.9.1
python-box==6.0.2
pyYAML==6.0.1
ensure==1.0.2
xgboost==2.1.0
omegaconf==2.3.0
types-PyYAML==6.0.12.20240311
-e .